%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
      %p.font
        = link_to 'List of Users(scaffold)', users_path
        %br
        %br
        = link_to 'Logout', logout_path
    %td.a{:width => "50%"}
      %b
        hello,
      = @current_user

    %td{:width => "25%"}
      %p.font
        All users:
      %table
        - @users.each do |user|
          %tr= link_to user.user_email






